<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/simple/css/main.css">
</head>
<body>
{{template "header" .}}
<main>
    <article>
        <div class="title">
            <h1>About</h1>
        </div>
        <div class="meta">
            <div>2020-04-15 00:00</div>
        </div>
        <div class="content">
            <p>About test!! About test!</p>
        </div>

    </article>
</main>
{{template "footer" .}}
</body>
</html>