<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/simple/css/main.css">
</head>
<body>
<header>
    <div>
        <h1><a href="/">Mega Simple</a></h1>
    </div>
    <nav><a href="/">About</a></nav>
</header>
<main>
    <ul>
        {{ range .Articles}}
        <li>{{ .CreateAt.Format "2006-01-02 15:04:05" }} - <a href="/articles/{{ .Id }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    <ul class="pagination">
        <li class="page-item">
            <a href="{{ .Pagination.PageUrl $.Url .Pagination.First }}" class="page-link" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
        <li class="page-item {{if eq .Pagination.Prev 0}}disabled{{end}}">
            <a  {{if gt .Pagination.Prev 0}}href="{{ .Pagination.PageUrl $.Url .Pagination.Prev }}"{{end}} class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {{ range .Pagination.Pages }}
        <li class="page-item {{if eq $.Pagination.Current .}}active{{end}}"><a class="page-link" href="{{ $.Pagination.PageUrl $.Url . }}">{{ . }}</a></li>
        {{ end }}
        <li class="page-item {{if eq .Pagination.Next 0}}disabled{{end}}">
            <a {{if gt .Pagination.Next 0}}href="{{ .Pagination.PageUrl $.Url .Pagination.Next }}"{{end}} class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
            <a href="{{ .Pagination.PageUrl $.Url .Pagination.Last }}" class="page-link" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
    </ul>
</main>
<footer>
    <div>
        <div>Copyright © 2019–2020, ijkbytes transplant from <a href="https://github.com/yanlinlin82/simple-style/">simple-style</a>; all rights reserved.</div>
    </div>
</footer>
</body>
</html>